
:root{

    --font-family:'Poppins', sans-serif;
    --heading:'Playfair Display', serif;
    --button:#6c63ff;
}
.content-container{
    padding: 160px 20px;
    background-color: #F9F7FE;
}
.btn{background-color: var(--button);}
.myphoto{
    max-width: 448px;
    height: auto;
   }
    .myphotoimage{
        border-radius: 30px;
    }
.content{
    text-align: start;
    margin: 30px;}
.heading{
    font-family: var(--heading);
    color: #000000;
    font-size: 64px;
    line-height: 80px;
    font-weight: 700px;}
h3{
    line-height: 22px;
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 700;}
p{
    color: #212529;
    font-family: var(--font-family);
    font-size: 16px;
    line-height:30px;}
    @media (max-width:1000px) {
        .heading{
            font-size: 50px;
            line-height: 40px;
        }
        .content{text-align: center;
        margin-right: 0px !important;
        }
        .content-container{
        padding: 50px 20px;
       }
        
        
        .myphoto{
        margin: 0 auto;
        
        }
        .paragraph{margin-right: 20px !important;}
    }
    @media (max-width:500px){
        .logo{display: none;}
        .content{text-align: center;
            margin-right: 0px !important;
            }
    }
    .name{
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        font-family: var(--font-family);
    }
    .skills{
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: #6c757d;
        font-family:var(--font-family) ;}
    .project-image{
        margin: 0 auto;
        max-width: 400px;
    }

    .logo{
        max-width: 120px;
        height: auto;
    }
    nav li{
        list-style: none;
        display: inline;
        line-height: 40px;
    }
    nav ul{ margin: 0;
    padding: 0;}
    nav{padding: 20px 0;}
    nav ul li a{
        text-decoration: none;
        color: #000000;
        font-family: var(--font-family);
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }
    nav a:visited{
        color: #000000;
    }
    nav a:hover,nav li:active{
        color: var(--button);
    }
    